<header>
    <div class="new">
    
            
           <header>
            
            
    <br>
    <p>Here Are The Details Of The Ticket Raised By You . </p>
    
    <br>
    <br>
    <br>
    <div class="card">
    <div >
    <br>
        SOURCE : {{empdetail.source}}<br><br>
        DESTINATION : {{empdetail.destination}}<br><br>
        USER ID : {{usrname}}<br><br>
       DATE OF TRAVEL : {{empdetail.travelDate.split("T")[0]}} AT {{empdetail.travelDate.split("T")[1]}}<br><br>
        MODE OF TRAVELLING : {{empdetail.travelMode}}<br><br>
        STATUS : {{empdetail.currentStatus}}<br><br>
    </div>
    </div>
    <br>
    
    <div>
        <nav>
            <a href="#" routerLink="/login">Back to list</a>
        </nav>
    </div>
            
    </header>
    </div>