<link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap" rel="stylesheet">
<header>
  <nav>
    <div class="logo"><h1 class="">Welcome {{username}} !</h1></div>

<div class="menu">
  
<a href="#"  routerLink="/admin"  (click)="toggledisplay()"> Travel Request </a>
<a href="#" routerLink="/register"  (click)="adduser()">Add User</a>
<a href="#" routerLink="/modify" (click)="modifyuser()">Modify User</a>
<a href="#" routerLink="/" (click)="logout()">Logout</a>

</div>
</nav>


<table class="table-trapped" *ngIf="display">
 
    <thead>
      <tr>
        <th>Requested by</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Travel Date</th>
        <th>Mode</th>
        <th>Current Request Status</th>
      </tr> 


    </thead>
<tbody>
 
        <tr *ngFor="let f of members">
          
            <td>{{f.name}}</td>
            <td>{{f.source}}</td>
            <td>{{f.destination}}</td>
            <td>{{f.travelDate.split("T")[0]}} {{f.travelDate.split("T")[1]}}</td>
            <td>{{f.travelMode}}</td>
            <td>{{f.currentStatus}}</td>
            <!--button class="btns" (click)="editchk(f)"><i class="fa fa-pencil"></i></button>
            <button class="btns" (click)="deletechk(f)"><i class="fa fa-trash"></i></button>
            <button class="btns"(click)="detailchk(f)"><i class="fa fa-file-text "></i></button-->
            <td><a href="#" routerLink="/edit" (click)="editchk(f)"><i class="fa fa-pencil"></i></a></td>
            <td><a href="#" routerLink="/delete"  (click)="deletechk(f)"><i class="fa fa-trash"></i></a></td>
            <td>
              <a href="#" routerLink="/Details" (click)="detailchk(f)"><i class="fa fa-file-text "></i></a></td>
              
        </tr>
  </tbody>
</table>

  